<?php
/**
 * CustomReportsApi
 * PHP version 8.1
 *
 * @category Class
 * @package  BhrSdk
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * BambooHR API
 *
 * BambooHR API documentation. https://www.bamboohr.com/api/documentation/
 *
 * The version of the OpenAPI document: 1.0
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.15.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace BhrSdk\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use BhrSdk\ApiException;
use BhrSdk\Configuration;
use BhrSdk\FormDataProcessor;
use BhrSdk\HeaderSelector;
use BhrSdk\ObjectSerializer;

/**
 * CustomReportsApi Class Doc Comment
 *
 * @category Class
 * @package  BhrSdk
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class CustomReportsApi {
	/**
	 * @var ClientInterface
	 */
	protected $client;

	/**
	 * @var Configuration
	 */
	protected $config;

	/**
	 * @var HeaderSelector
	 */
	protected $headerSelector;

	/**
	 * @var int Host index
	 */
	protected $hostIndex;

	/** @var string[] $CONTENT_TYPES **/
	public const CONTENT_TYPES = [
		'getByReportId' => [
			'application/json',
        ],
		'listReports' => [
			'application/json',
        ],
	];

	/**
	 * @param ClientInterface $client
	 * @param Configuration   $config
	 * @param HeaderSelector  $selector
	 * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
	 */
	public function __construct(
		?ClientInterface $client = null,
		?Configuration $config = null,
		?HeaderSelector $selector = null,
		int $hostIndex = 0
	) {
		$this->client = $client ?: new Client();
		$this->config = $config ?: Configuration::getDefaultConfiguration();
		$this->headerSelector = $selector ?: new HeaderSelector();
		$this->hostIndex = $hostIndex;
	}

	/**
	 * Set the host index
	 *
	 * @param int $hostIndex Host index (required)
	 */
	public function setHostIndex($hostIndex): void {
		$this->hostIndex = $hostIndex;
	}

	/**
	 * Get the host index
	 *
	 * @return int Host index
	 */
	public function getHostIndex() {
		return $this->hostIndex;
	}

	/**
	 * @return Configuration
	 */
	public function getConfig() {
		return $this->config;
	}

	/**
	 * Operation getByReportId
	 *
	 * Get Report by ID
	 *
	 * @param  int $report_id report_id (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getByReportId'] to see the possible values for this operation
	 *
	 * @throws \BhrSdk\ApiException on non-2xx response or if the response body is not in the expected format
	 * @throws \InvalidArgumentException
	 * @return \BhrSdk\Model\EmployeeResponse
	 */
	public function getByReportId($report_id, string $contentType = self::CONTENT_TYPES['getByReportId'][0]) {
		list($response) = $this->getByReportIdWithHttpInfo($report_id, $contentType);
		return $response;
	}

	/**
	 * Operation getByReportIdWithHttpInfo
	 *
	 * Get Report by ID
	 *
	 * @param  int $report_id (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getByReportId'] to see the possible values for this operation
	 *
	 * @throws \BhrSdk\ApiException on non-2xx response or if the response body is not in the expected format
	 * @throws \InvalidArgumentException
	 * @return array of \BhrSdk\Model\EmployeeResponse, HTTP status code, HTTP response headers (array of strings)
	 */
	public function getByReportIdWithHttpInfo($report_id, string $contentType = self::CONTENT_TYPES['getByReportId'][0]) {
		$request = $this->getByReportIdRequest($report_id, $contentType);
		$options = $this->createHttpClientOption();
		
		// Send request with retry support for timeout errors
		$response = $this->sendRequestWithRetries($request, $options);

		$statusCode = $response->getStatusCode();


		switch($statusCode) {
			case 200:
				return $this->handleResponseWithDataType(
					'\BhrSdk\Model\EmployeeResponse',
					$request,
					$response,
				);
		}

		

		if ($statusCode < 200 || $statusCode > 299) {
			throw new ApiException(
				sprintf(
					'[%d] Error connecting to the API (%s)',
					$statusCode,
					(string) $request->getUri()
				),
				$statusCode,
				$response->getHeaders(),
				(string) $response->getBody()
			);
		}

		return $this->handleResponseWithDataType(
			'\BhrSdk\Model\EmployeeResponse',
			$request,
			$response,
		);
	}

	/**
	 * Operation getByReportIdAsync
	 *
	 * Get Report by ID
	 *
	 * @param  int $report_id (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getByReportId'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Promise\PromiseInterface
	 */
	public function getByReportIdAsync($report_id, string $contentType = self::CONTENT_TYPES['getByReportId'][0]) {
		return $this->getByReportIdAsyncWithHttpInfo($report_id, $contentType)
			->then(
				function ($response) {
					return $response[0];
				}
			);
	}

	/**
	 * Operation getByReportIdAsyncWithHttpInfo
	 *
	 * Get Report by ID
	 *
	 * @param  int $report_id (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getByReportId'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Promise\PromiseInterface
	 */
	public function getByReportIdAsyncWithHttpInfo($report_id, string $contentType = self::CONTENT_TYPES['getByReportId'][0]) {
		$returnType = '\BhrSdk\Model\EmployeeResponse';
		$request = $this->getByReportIdRequest($report_id, $contentType);

		return $this->client
			->sendAsync($request, $this->createHttpClientOption())
			->then(
				function ($response) use ($returnType) {
					$content = (string) $response->getBody();
					if ($returnType !== 'string') {
						$content = json_decode($content);
					}

					return [
						ObjectSerializer::deserialize($content, $returnType, []),
						$response->getStatusCode(),
						$response->getHeaders()
					];
				},
				function ($exception) {
					$response = $exception->getResponse();
					$statusCode = $response->getStatusCode();
					throw new ApiException(
						sprintf(
							'[%d] Error connecting to the API (%s)',
							$statusCode,
							$exception->getRequest()->getUri()
						),
						$statusCode,
						$response->getHeaders(),
						(string) $response->getBody()
					);
				}
			);
	}

	/**
	 * Create request for operation 'getByReportId'
	 *
	 * @param  int $report_id (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getByReportId'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Psr7\Request
	 */
	public function getByReportIdRequest($report_id, string $contentType = self::CONTENT_TYPES['getByReportId'][0]) {
		// PHP 8.0+ only
		$this->validateRequiredParameters(
			params: [
				'report_id' => $report_id,
			],
			methodName: 'getByReportId'
		);



		$resourcePath = '/api/v1/custom-reports/{reportId}';
		
		$queryParams = [];
		$headerParams = [];
		$httpBody = '';
		$multipart = false;



		// path params
		if ($report_id !== null) {
			$resourcePath = str_replace(
				'{' . 'reportId' . '}',
				ObjectSerializer::toPathValue($report_id),
				$resourcePath
			);
		}


		$headers = $this->headerSelector->selectHeaders(
			['application/json', ],
			$contentType,
			$multipart
		);


		// Authentication methods
		
		// Basic authentication
		if (!empty($this->config->getUsername()) || !(empty($this->config->getPassword()))) {
			$headers['Authorization'] = 'Basic ' . base64_encode($this->config->getUsername() . ":" . $this->config->getPassword());
		}
		
		// OAuth/Bearer authentication
		if (!empty($this->config->getAccessToken())) {
			$headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
		}

		$defaultHeaders = [];
		if ($this->config->getUserAgent()) {
			$defaultHeaders['User-Agent'] = $this->config->getUserAgent();
		}

		$headers = array_merge(
			$defaultHeaders,
			$headerParams,
			$headers
		);
		
		// Special handling for accept_header_parameter to set the Accept header directly
		if (isset($accept_header_parameter) && $accept_header_parameter !== null) {
			$headers['Accept'] = ObjectSerializer::toHeaderValue($accept_header_parameter);
		}

		$operationHost = $this->config->getHost();
		$query = ObjectSerializer::buildQuery($queryParams);
		return new Request(
			'GET',
			$operationHost . $resourcePath . ($query ? "?{$query}" : ''),
			$headers,
			$httpBody
		);
	}

	/**
	 * Operation listReports
	 *
	 * List Reports
	 *
	 * @param  int|null $page The page number to retrieve (optional)
	 * @param  int|null $page_size The number of records to retrieve per page. Default is 500 and the Max is 1000 (optional)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['listReports'] to see the possible values for this operation
	 *
	 * @throws \BhrSdk\ApiException on non-2xx response or if the response body is not in the expected format
	 * @throws \InvalidArgumentException
	 * @return \BhrSdk\Model\ReportsResponse
	 */
	public function listReports($page = null, $page_size = null, string $contentType = self::CONTENT_TYPES['listReports'][0]) {
		list($response) = $this->listReportsWithHttpInfo($page, $page_size, $contentType);
		return $response;
	}

	/**
	 * Operation listReportsWithHttpInfo
	 *
	 * List Reports
	 *
	 * @param  int|null $page The page number to retrieve (optional)
	 * @param  int|null $page_size The number of records to retrieve per page. Default is 500 and the Max is 1000 (optional)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['listReports'] to see the possible values for this operation
	 *
	 * @throws \BhrSdk\ApiException on non-2xx response or if the response body is not in the expected format
	 * @throws \InvalidArgumentException
	 * @return array of \BhrSdk\Model\ReportsResponse, HTTP status code, HTTP response headers (array of strings)
	 */
	public function listReportsWithHttpInfo($page = null, $page_size = null, string $contentType = self::CONTENT_TYPES['listReports'][0]) {
		$request = $this->listReportsRequest($page, $page_size, $contentType);
		$options = $this->createHttpClientOption();
		
		// Send request with retry support for timeout errors
		$response = $this->sendRequestWithRetries($request, $options);

		$statusCode = $response->getStatusCode();


		switch($statusCode) {
			case 200:
				return $this->handleResponseWithDataType(
					'\BhrSdk\Model\ReportsResponse',
					$request,
					$response,
				);
		}

		

		if ($statusCode < 200 || $statusCode > 299) {
			throw new ApiException(
				sprintf(
					'[%d] Error connecting to the API (%s)',
					$statusCode,
					(string) $request->getUri()
				),
				$statusCode,
				$response->getHeaders(),
				(string) $response->getBody()
			);
		}

		return $this->handleResponseWithDataType(
			'\BhrSdk\Model\ReportsResponse',
			$request,
			$response,
		);
	}

	/**
	 * Operation listReportsAsync
	 *
	 * List Reports
	 *
	 * @param  int|null $page The page number to retrieve (optional)
	 * @param  int|null $page_size The number of records to retrieve per page. Default is 500 and the Max is 1000 (optional)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['listReports'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Promise\PromiseInterface
	 */
	public function listReportsAsync($page = null, $page_size = null, string $contentType = self::CONTENT_TYPES['listReports'][0]) {
		return $this->listReportsAsyncWithHttpInfo($page, $page_size, $contentType)
			->then(
				function ($response) {
					return $response[0];
				}
			);
	}

	/**
	 * Operation listReportsAsyncWithHttpInfo
	 *
	 * List Reports
	 *
	 * @param  int|null $page The page number to retrieve (optional)
	 * @param  int|null $page_size The number of records to retrieve per page. Default is 500 and the Max is 1000 (optional)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['listReports'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Promise\PromiseInterface
	 */
	public function listReportsAsyncWithHttpInfo($page = null, $page_size = null, string $contentType = self::CONTENT_TYPES['listReports'][0]) {
		$returnType = '\BhrSdk\Model\ReportsResponse';
		$request = $this->listReportsRequest($page, $page_size, $contentType);

		return $this->client
			->sendAsync($request, $this->createHttpClientOption())
			->then(
				function ($response) use ($returnType) {
					$content = (string) $response->getBody();
					if ($returnType !== 'string') {
						$content = json_decode($content);
					}

					return [
						ObjectSerializer::deserialize($content, $returnType, []),
						$response->getStatusCode(),
						$response->getHeaders()
					];
				},
				function ($exception) {
					$response = $exception->getResponse();
					$statusCode = $response->getStatusCode();
					throw new ApiException(
						sprintf(
							'[%d] Error connecting to the API (%s)',
							$statusCode,
							$exception->getRequest()->getUri()
						),
						$statusCode,
						$response->getHeaders(),
						(string) $response->getBody()
					);
				}
			);
	}

	/**
	 * Create request for operation 'listReports'
	 *
	 * @param  int|null $page The page number to retrieve (optional)
	 * @param  int|null $page_size The number of records to retrieve per page. Default is 500 and the Max is 1000 (optional)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['listReports'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Psr7\Request
	 */
	public function listReportsRequest($page = null, $page_size = null, string $contentType = self::CONTENT_TYPES['listReports'][0]) {




		$resourcePath = '/api/v1/custom-reports';
		
		$queryParams = [];
		$headerParams = [];
		$httpBody = '';
		$multipart = false;

		$parameters = [
			'page' => ['value' => $page, 'type' => 'integer', 'required' => false, 'style' => 'form', 'explode' => true],
			'page_size' => ['value' => $page_size, 'type' => 'integer', 'required' => false, 'style' => 'form', 'explode' => true],
		];

		// Process parameters and build query values directly
		$queryParams = [];

		foreach ($parameters as $paramName => $config) {
			$value = ObjectSerializer::toQueryValue($config['value'], $paramName, $config['type'], $config['style'], $config['explode'], $config['required']);
			
			if ($value !== null) {
				// Merge each parameter value directly into queryParams
				$queryParams = array_merge($queryParams, $value);
			}
		}




		$headers = $this->headerSelector->selectHeaders(
			['application/json', ],
			$contentType,
			$multipart
		);


		// Authentication methods
		
		// Basic authentication
		if (!empty($this->config->getUsername()) || !(empty($this->config->getPassword()))) {
			$headers['Authorization'] = 'Basic ' . base64_encode($this->config->getUsername() . ":" . $this->config->getPassword());
		}
		
		// OAuth/Bearer authentication
		if (!empty($this->config->getAccessToken())) {
			$headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
		}

		$defaultHeaders = [];
		if ($this->config->getUserAgent()) {
			$defaultHeaders['User-Agent'] = $this->config->getUserAgent();
		}

		$headers = array_merge(
			$defaultHeaders,
			$headerParams,
			$headers
		);
		
		// Special handling for accept_header_parameter to set the Accept header directly
		if (isset($accept_header_parameter) && $accept_header_parameter !== null) {
			$headers['Accept'] = ObjectSerializer::toHeaderValue($accept_header_parameter);
		}

		$operationHost = $this->config->getHost();
		$query = ObjectSerializer::buildQuery($queryParams);
		return new Request(
			'GET',
			$operationHost . $resourcePath . ($query ? "?{$query}" : ''),
			$headers,
			$httpBody
		);
	}

	/**
	 * Create http client option
	 *
	 * @throws \RuntimeException on file opening failure
	 * @return array of http client options
	 */
	protected function createHttpClientOption() {
		$options = [];
		if ($this->config->getDebug()) {
			$options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
			if (!$options[RequestOptions::DEBUG]) {
				throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
			}
		}

		return $options;
	}
	
	/**
	 * Send a request with support for timeout retries
	 *
	 * @param RequestInterface $request The request to send
	 * @param array $options Request options to apply to the given request
	 *
	 * @throws ApiException on non-2xx response
	 * @return ResponseInterface
	 */
	protected function sendRequestWithRetries(RequestInterface $request, array $options): ResponseInterface {
		// Get the configured number of retries for timeout errors
		$retries = $this->config->getRetries();
		$attempt = 0;
		$timeoutStatusCodes = $this->config->getRetryableStatusCodes();
		
		do {
			$attempt++;
			try {
				$response = $this->client->send($request, $options);
				// If we get here, the request was successful, so break out of the retry loop
				return $response;
			} catch (RequestException $e) {
				$statusCode = $e->getResponse() ? $e->getResponse()->getStatusCode() : 0;
				
				// Check if this is a timeout error and if we should retry
				if (in_array($statusCode, $timeoutStatusCodes) && $attempt <= $retries) {
					// Wait before retrying (simple exponential backoff)
					usleep(100000 * pow(2, $attempt - 1)); // 100ms, 200ms, 400ms, etc.
					continue;
				}
				
				$eInner = new ApiException(
					"[{$e->getCode()}] {$e->getMessage()}",
					(int) $e->getCode(),
					$e->getResponse() ? $e->getResponse()->getHeaders() : null,
					$e->getResponse() ? (string) $e->getResponse()->getBody() : null
				);
				$data = ObjectSerializer::deserialize($eInner->getResponseBody(), '', $eInner->getResponseHeaders());
				$eInner->setResponseObject($data);

				throw $eInner;
			} catch (ConnectException $e) {
				// Connection exceptions can also be timeout-related
				if ($attempt <= $retries) {
					// Wait before retrying (simple exponential backoff)
					usleep(100000 * pow(2, $attempt - 1)); // 100ms, 200ms, 400ms, etc.
					continue;
				}
				
				$eInner = new ApiException(
					"[{$e->getCode()}] {$e->getMessage()}",
					(int) $e->getCode(),
					null,
					null
				);
				$data = ObjectSerializer::deserialize($eInner->getResponseBody(), '', $eInner->getResponseHeaders());
				$eInner->setResponseObject($data);

				throw $eInner;
			}
		} while ($attempt <= $retries);
		
		throw new ApiException(
			'Request failed after maximum retries',
			0,
			null,
			null
		);
	}

	private function handleResponseWithDataType(
		string $dataType,
		RequestInterface $request,
		ResponseInterface $response
	): array {
		if ($dataType === '\SplFileObject') {
			$content = $response->getBody(); //stream goes to serializer
		} else {
			$content = (string) $response->getBody();
			if ($dataType !== 'string') {
				try {
					$content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
				} catch (\JsonException $exception) {
					throw new ApiException(
						sprintf(
							'Error JSON decoding server response (%s)',
							$request->getUri()
						),
						$response->getStatusCode(),
						$response->getHeaders(),
						$content
					);
				}
			}
		}

		return [
			ObjectSerializer::deserialize($content, $dataType, []),
			$response->getStatusCode(),
			$response->getHeaders()
		];
	}

	private function responseWithinRangeCode(
		string $rangeCode,
		int $statusCode
	): bool {
		$left = (int) ($rangeCode[0].'00');
		$right = (int) ($rangeCode[0].'99');

		return $statusCode >= $left && $statusCode <= $right;
	}

	/**
	* Validates required parameters and throws an exception if any are missing
	* 
	* @param array $params Associative array of parameter name => value pairs
	* @param string $methodName Name of the calling method for error messages
	* @throws \InvalidArgumentException If any required parameter is missing
	*/
	private function validateRequiredParameters(array $params, string $methodName): void {
		foreach ($params as $paramName => $paramValue) {
			if ($paramValue === null || (is_array($paramValue) && count($paramValue) === 0)) {
				throw new \InvalidArgumentException(
					"Missing the required parameter \${$paramName} when calling {$methodName}"
				);
			}
		}
	}
}
