<?php
/**
 * PhotosApi
 * PHP version 8.1
 *
 * @category Class
 * @package  BhrSdk
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * BambooHR API
 *
 * BambooHR API documentation. https://www.bamboohr.com/api/documentation/
 *
 * The version of the OpenAPI document: 1.0
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.16.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace BhrSdk\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use BhrSdk\ApiException;
use BhrSdk\Configuration;
use BhrSdk\FormDataProcessor;
use BhrSdk\HeaderSelector;
use BhrSdk\ObjectSerializer;

/**
 * PhotosApi Class Doc Comment
 *
 * @category Class
 * @package  BhrSdk
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class PhotosApi {
	/**
	 * @var ClientInterface
	 */
	protected $client;

	/**
	 * @var Configuration
	 */
	protected $config;

	/**
	 * @var HeaderSelector
	 */
	protected $headerSelector;

	/**
	 * @var int Host index
	 */
	protected $hostIndex;

	/** @var string[] $CONTENT_TYPES **/
	public const CONTENT_TYPES = [
		'getEmployeePhoto' => [
			'application/json',
        ],
		'uploadEmployeePhoto' => [
			'application/json',
        ],
	];

	/**
	 * @param ClientInterface $client
	 * @param Configuration   $config
	 * @param HeaderSelector  $selector
	 * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
	 */
	public function __construct(
		?ClientInterface $client = null,
		?Configuration $config = null,
		?HeaderSelector $selector = null,
		int $hostIndex = 0
	) {
		$this->client = $client ?: new Client();
		$this->config = $config ?: Configuration::getDefaultConfiguration();
		$this->headerSelector = $selector ?: new HeaderSelector();
		$this->hostIndex = $hostIndex;
	}

	/**
	 * Set the host index
	 *
	 * @param int $hostIndex Host index (required)
	 */
	public function setHostIndex($hostIndex): void {
		$this->hostIndex = $hostIndex;
	}

	/**
	 * Get the host index
	 *
	 * @return int Host index
	 */
	public function getHostIndex() {
		return $this->hostIndex;
	}

	/**
	 * @return Configuration
	 */
	public function getConfig() {
		return $this->config;
	}

	/**
	 * Operation getEmployeePhoto
	 *
	 * Get an employee photo
	 *
	 * @param  string $employee_id The ID for the employee you are getting the photo for. (required)
	 * @param  string $size Photo size (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \BhrSdk\ApiException on non-2xx response or if the response body is not in the expected format
	 * @throws \InvalidArgumentException
	 * @return void
	 */
	public function getEmployeePhoto($employee_id, $size, string $contentType = self::CONTENT_TYPES['getEmployeePhoto'][0]) {
		$this->getEmployeePhotoWithHttpInfo($employee_id, $size, $contentType);
	}

	/**
	 * Operation getEmployeePhotoWithHttpInfo
	 *
	 * Get an employee photo
	 *
	 * @param  string $employee_id The ID for the employee you are getting the photo for. (required)
	 * @param  string $size Photo size (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \BhrSdk\ApiException on non-2xx response or if the response body is not in the expected format
	 * @throws \InvalidArgumentException
	 * @return array of null, HTTP status code, HTTP response headers (array of strings)
	 */
	public function getEmployeePhotoWithHttpInfo($employee_id, $size, string $contentType = self::CONTENT_TYPES['getEmployeePhoto'][0]) {
		$request = $this->getEmployeePhotoRequest($employee_id, $size, $contentType);
		$options = $this->createHttpClientOption();
		
		// Send request with retry support for timeout errors
		$response = $this->sendRequestWithRetries($request, $options);

		$statusCode = $response->getStatusCode();


		return $this->handleResponseWithDataType(
			'object', // or 'mixed' or any other generic type
			$request,
			$response,
		);
	}

	/**
	 * Operation getEmployeePhotoAsync
	 *
	 * Get an employee photo
	 *
	 * @param  string $employee_id The ID for the employee you are getting the photo for. (required)
	 * @param  string $size Photo size (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Promise\PromiseInterface
	 */
	public function getEmployeePhotoAsync($employee_id, $size, string $contentType = self::CONTENT_TYPES['getEmployeePhoto'][0]) {
		return $this->getEmployeePhotoAsyncWithHttpInfo($employee_id, $size, $contentType)
			->then(
				function ($response) {
					return $response[0];
				}
			);
	}

	/**
	 * Operation getEmployeePhotoAsyncWithHttpInfo
	 *
	 * Get an employee photo
	 *
	 * @param  string $employee_id The ID for the employee you are getting the photo for. (required)
	 * @param  string $size Photo size (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Promise\PromiseInterface
	 */
	public function getEmployeePhotoAsyncWithHttpInfo($employee_id, $size, string $contentType = self::CONTENT_TYPES['getEmployeePhoto'][0]) {
		
		$request = $this->getEmployeePhotoRequest($employee_id, $size, $contentType);

		return $this->client
			->sendAsync($request, $this->createHttpClientOption())
			->then(
				function ($response) {
					$content = (string) $response->getBody();
					$content = json_decode($content);

					return [
						ObjectSerializer::deserialize($content, 'object', []),
						$response->getStatusCode(),
						$response->getHeaders()
					];
				},
				function ($exception) {
					$response = $exception->getResponse();
					$statusCode = $response->getStatusCode();
					throw new ApiException(
						sprintf(
							'[%d] Error connecting to the API (%s)',
							$statusCode,
							$exception->getRequest()->getUri()
						),
						$statusCode,
						$response->getHeaders(),
						(string) $response->getBody()
					);
				}
			);
	}

	/**
	 * Create request for operation 'getEmployeePhoto'
	 *
	 * @param  string $employee_id The ID for the employee you are getting the photo for. (required)
	 * @param  string $size Photo size (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['getEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Psr7\Request
	 */
	public function getEmployeePhotoRequest($employee_id, $size, string $contentType = self::CONTENT_TYPES['getEmployeePhoto'][0]) {
		// PHP 8.0+ only
		$this->validateRequiredParameters(
			params: [
				'employee_id' => $employee_id,
				'size' => $size,
			],
			methodName: 'getEmployeePhoto'
		);




		$resourcePath = '/api/v1/employees/{employeeId}/photo/{size}';
		
		$queryParams = [];
		$headerParams = [];
		$httpBody = '';
		$multipart = false;



		// path params
		if ($employee_id !== null) {
			$resourcePath = str_replace(
				'{' . 'employeeId' . '}',
				ObjectSerializer::toPathValue($employee_id),
				$resourcePath
			);
		}
		// path params
		if ($size !== null) {
			$resourcePath = str_replace(
				'{' . 'size' . '}',
				ObjectSerializer::toPathValue($size),
				$resourcePath
			);
		}


		$headers = $this->headerSelector->selectHeaders(
			['application/json', ],
			$contentType,
			$multipart
		);


		// Authentication methods
		
		// Basic authentication
		if (!empty($this->config->getUsername()) || !(empty($this->config->getPassword()))) {
			$headers['Authorization'] = 'Basic ' . base64_encode($this->config->getUsername() . ":" . $this->config->getPassword());
		}
		
		// OAuth/Bearer authentication
		if (!empty($this->config->getAccessToken())) {
			$headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
		}

		$defaultHeaders = [];
		if ($this->config->getUserAgent()) {
			$defaultHeaders['User-Agent'] = $this->config->getUserAgent();
		}

		$headers = array_merge(
			$defaultHeaders,
			$headerParams,
			$headers
		);
		
		// Special handling for accept_header_parameter to set the Accept header directly
		if (isset($accept_header_parameter) && $accept_header_parameter !== null) {
			$headers['Accept'] = ObjectSerializer::toHeaderValue($accept_header_parameter);
		}

		$operationHost = $this->config->getHost();
		$query = ObjectSerializer::buildQuery($queryParams);
		return new Request(
			'GET',
			$operationHost . $resourcePath . ($query ? "?{$query}" : ''),
			$headers,
			$httpBody
		);
	}

	/**
	 * Operation uploadEmployeePhoto
	 *
	 * Store a new employee photo
	 *
	 * @param  string $employee_id The ID for the employee you are setting the photo for. (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['uploadEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \BhrSdk\ApiException on non-2xx response or if the response body is not in the expected format
	 * @throws \InvalidArgumentException
	 * @return void
	 */
	public function uploadEmployeePhoto($employee_id, string $contentType = self::CONTENT_TYPES['uploadEmployeePhoto'][0]) {
		$this->uploadEmployeePhotoWithHttpInfo($employee_id, $contentType);
	}

	/**
	 * Operation uploadEmployeePhotoWithHttpInfo
	 *
	 * Store a new employee photo
	 *
	 * @param  string $employee_id The ID for the employee you are setting the photo for. (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['uploadEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \BhrSdk\ApiException on non-2xx response or if the response body is not in the expected format
	 * @throws \InvalidArgumentException
	 * @return array of null, HTTP status code, HTTP response headers (array of strings)
	 */
	public function uploadEmployeePhotoWithHttpInfo($employee_id, string $contentType = self::CONTENT_TYPES['uploadEmployeePhoto'][0]) {
		$request = $this->uploadEmployeePhotoRequest($employee_id, $contentType);
		$options = $this->createHttpClientOption();
		
		// Send request with retry support for timeout errors
		$response = $this->sendRequestWithRetries($request, $options);

		$statusCode = $response->getStatusCode();


		return $this->handleResponseWithDataType(
			'object', // or 'mixed' or any other generic type
			$request,
			$response,
		);
	}

	/**
	 * Operation uploadEmployeePhotoAsync
	 *
	 * Store a new employee photo
	 *
	 * @param  string $employee_id The ID for the employee you are setting the photo for. (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['uploadEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Promise\PromiseInterface
	 */
	public function uploadEmployeePhotoAsync($employee_id, string $contentType = self::CONTENT_TYPES['uploadEmployeePhoto'][0]) {
		return $this->uploadEmployeePhotoAsyncWithHttpInfo($employee_id, $contentType)
			->then(
				function ($response) {
					return $response[0];
				}
			);
	}

	/**
	 * Operation uploadEmployeePhotoAsyncWithHttpInfo
	 *
	 * Store a new employee photo
	 *
	 * @param  string $employee_id The ID for the employee you are setting the photo for. (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['uploadEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Promise\PromiseInterface
	 */
	public function uploadEmployeePhotoAsyncWithHttpInfo($employee_id, string $contentType = self::CONTENT_TYPES['uploadEmployeePhoto'][0]) {
		
		$request = $this->uploadEmployeePhotoRequest($employee_id, $contentType);

		return $this->client
			->sendAsync($request, $this->createHttpClientOption())
			->then(
				function ($response) {
					$content = (string) $response->getBody();
					$content = json_decode($content);

					return [
						ObjectSerializer::deserialize($content, 'object', []),
						$response->getStatusCode(),
						$response->getHeaders()
					];
				},
				function ($exception) {
					$response = $exception->getResponse();
					$statusCode = $response->getStatusCode();
					throw new ApiException(
						sprintf(
							'[%d] Error connecting to the API (%s)',
							$statusCode,
							$exception->getRequest()->getUri()
						),
						$statusCode,
						$response->getHeaders(),
						(string) $response->getBody()
					);
				}
			);
	}

	/**
	 * Create request for operation 'uploadEmployeePhoto'
	 *
	 * @param  string $employee_id The ID for the employee you are setting the photo for. (required)
	 * @param  string $contentType The value for the Content-Type header. Check self::CONTENT_TYPES['uploadEmployeePhoto'] to see the possible values for this operation
	 *
	 * @throws \InvalidArgumentException
	 * @return \GuzzleHttp\Psr7\Request
	 */
	public function uploadEmployeePhotoRequest($employee_id, string $contentType = self::CONTENT_TYPES['uploadEmployeePhoto'][0]) {
		// PHP 8.0+ only
		$this->validateRequiredParameters(
			params: [
				'employee_id' => $employee_id,
			],
			methodName: 'uploadEmployeePhoto'
		);



		$resourcePath = '/api/v1/employees/{employeeId}/photo';
		
		$queryParams = [];
		$headerParams = [];
		$httpBody = '';
		$multipart = false;



		// path params
		if ($employee_id !== null) {
			$resourcePath = str_replace(
				'{' . 'employeeId' . '}',
				ObjectSerializer::toPathValue($employee_id),
				$resourcePath
			);
		}


		$headers = $this->headerSelector->selectHeaders(
			['application/json', ],
			$contentType,
			$multipart
		);


		// Authentication methods
		
		// Basic authentication
		if (!empty($this->config->getUsername()) || !(empty($this->config->getPassword()))) {
			$headers['Authorization'] = 'Basic ' . base64_encode($this->config->getUsername() . ":" . $this->config->getPassword());
		}
		
		// OAuth/Bearer authentication
		if (!empty($this->config->getAccessToken())) {
			$headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
		}

		$defaultHeaders = [];
		if ($this->config->getUserAgent()) {
			$defaultHeaders['User-Agent'] = $this->config->getUserAgent();
		}

		$headers = array_merge(
			$defaultHeaders,
			$headerParams,
			$headers
		);
		
		// Special handling for accept_header_parameter to set the Accept header directly
		if (isset($accept_header_parameter) && $accept_header_parameter !== null) {
			$headers['Accept'] = ObjectSerializer::toHeaderValue($accept_header_parameter);
		}

		$operationHost = $this->config->getHost();
		$query = ObjectSerializer::buildQuery($queryParams);
		return new Request(
			'POST',
			$operationHost . $resourcePath . ($query ? "?{$query}" : ''),
			$headers,
			$httpBody
		);
	}

	/**
	 * Create http client option
	 *
	 * @throws \RuntimeException on file opening failure
	 * @return array of http client options
	 */
	protected function createHttpClientOption() {
		$options = [];
		if ($this->config->getDebug()) {
			$options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
			if (!$options[RequestOptions::DEBUG]) {
				throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
			}
		}

		return $options;
	}
	
	/**
	 * Send a request with support for timeout retries
	 *
	 * @param RequestInterface $request The request to send
	 * @param array $options Request options to apply to the given request
	 *
	 * @throws ApiException on non-2xx response
	 * @return ResponseInterface
	 */
	protected function sendRequestWithRetries(RequestInterface $request, array $options): ResponseInterface {
		// Get the configured number of retries for timeout errors
		$retries = $this->config->getRetries();
		$attempt = 0;
		$timeoutStatusCodes = $this->config->getRetryableStatusCodes();
		
		do {
			$attempt++;
			try {
				$response = $this->client->send($request, $options);
				// If we get here, the request was successful, so break out of the retry loop
				return $response;
			} catch (RequestException $e) {
				$statusCode = $e->getResponse() ? $e->getResponse()->getStatusCode() : 0;
				
				// Check if this is a timeout error and if we should retry
				if (in_array($statusCode, $timeoutStatusCodes) && $attempt <= $retries) {
					// Wait before retrying (simple exponential backoff)
					usleep(100000 * pow(2, $attempt - 1)); // 100ms, 200ms, 400ms, etc.
					continue;
				}
				
				$eInner = new ApiException(
					"[{$e->getCode()}] {$e->getMessage()}",
					(int) $e->getCode(),
					$e->getResponse() ? $e->getResponse()->getHeaders() : null,
					$e->getResponse() ? (string) $e->getResponse()->getBody() : null
				);
				$data = ObjectSerializer::deserialize($eInner->getResponseBody(), '', $eInner->getResponseHeaders());
				$eInner->setResponseObject($data);

				throw $eInner;
			} catch (ConnectException $e) {
				// Connection exceptions can also be timeout-related
				if ($attempt <= $retries) {
					// Wait before retrying (simple exponential backoff)
					usleep(100000 * pow(2, $attempt - 1)); // 100ms, 200ms, 400ms, etc.
					continue;
				}
				
				$eInner = new ApiException(
					"[{$e->getCode()}] {$e->getMessage()}",
					(int) $e->getCode(),
					null,
					null
				);
				$data = ObjectSerializer::deserialize($eInner->getResponseBody(), '', $eInner->getResponseHeaders());
				$eInner->setResponseObject($data);

				throw $eInner;
			}
		} while ($attempt <= $retries);
		
		throw new ApiException(
			'Request failed after maximum retries',
			0,
			null,
			null
		);
	}

	private function handleResponseWithDataType(
		string $dataType,
		RequestInterface $request,
		ResponseInterface $response
	): array {
		if ($dataType === '\SplFileObject') {
			$content = $response->getBody(); //stream goes to serializer
		} else {
			$content = (string) $response->getBody();
			if ($dataType !== 'string') {
				try {
					$content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
				} catch (\JsonException $exception) {
					throw new ApiException(
						sprintf(
							'Error JSON decoding server response (%s)',
							$request->getUri()
						),
						$response->getStatusCode(),
						$response->getHeaders(),
						$content
					);
				}
			}
		}

		return [
			ObjectSerializer::deserialize($content, $dataType, []),
			$response->getStatusCode(),
			$response->getHeaders()
		];
	}

	private function responseWithinRangeCode(
		string $rangeCode,
		int $statusCode
	): bool {
		$left = (int) ($rangeCode[0].'00');
		$right = (int) ($rangeCode[0].'99');

		return $statusCode >= $left && $statusCode <= $right;
	}

	/**
	* Validates required parameters and throws an exception if any are missing
	* 
	* @param array $params Associative array of parameter name => value pairs
	* @param string $methodName Name of the calling method for error messages
	* @throws \InvalidArgumentException If any required parameter is missing
	*/
	private function validateRequiredParameters(array $params, string $methodName): void {
		foreach ($params as $paramName => $paramValue) {
			if ($paramValue === null || (is_array($paramValue) && count($paramValue) === 0)) {
				throw new \InvalidArgumentException(
					"Missing the required parameter \${$paramName} when calling {$methodName}"
				);
			}
		}
	}
}
