parameters:
	level: 6
	paths:
		- lib/
		- test/
	excludePaths:
		- vendor/
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
		-
			identifier: method.unused